{{#if this.chargenData}}
  {{#if this.chargenData.char_role}}
    <p><strong>Playbook:</strong> {{this.chargenData.char_role}} &mdash; stats initialized.</p>
  {{else}}
    <p>Select your Playbook in the Groups tab first, then click below to initialize your stats.</p>
    <button class="btn btn-primary" {{on "click" this.initStats}}>Initialize Playbook Stats</button>
  {{/if}}

  <hr />

  <h4>Choose Your Gimmick</h4>
  <p>{{this.chargenData.gimmick_explainer}}</p>

  <select onchange={{this.previewGimmick}}>
    <option value="">-- Browse Gimmicks --</option>
    {{#each this.chargenData.gimmicks as |gimmick|}}
      <option value={{gimmick.name}} selected={{eq gimmick.name this.previewedGimmick.name}}>
        {{gimmick.name}}
      </option>
    {{/each}}
  </select>

  {{#if this.previewedGimmick}}
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">{{this.previewedGimmick.name}}</h5>
        <p class="card-text"><strong>{{this.previewedGimmick.desc}}</strong></p>
        <p class="card-text">{{this.previewedGimmick.lore}}</p>
        {{#if (eq this.previewedGimmick.name this.chargenData.char_gimmick)}}
          <span class="badge bg-primary">Currently Selected</span>
        {{else}}
          <button class="btn btn-primary btn-sm" {{on "click" (fn this.selectGimmick this.previewedGimmick.name)}}>
            Select {{this.previewedGimmick.name}}
          </button>
        {{/if}}
      </div>
    </div>
  {{/if}}
{{/if}}
