{{#if this.chargenData}}
  {{#if this.chargenData.char_role}}
    <p><strong>Playbook:</strong> {{this.chargenData.char_role}} &mdash; stats initialized.</p>
  {{else}}
    <p>Select your Playbook in the Groups tab first, then click below to initialize your stats.</p>
    <button class="btn btn-primary" {{on "click" this.initStats}}>Initialize Playbook Stats</button>
  {{/if}}

  <hr />

  <p><strong>Gimmick:</strong>
    {{#if this.chargenData.char_gimmick}}
      {{this.chargenData.char_gimmick}}
    {{else}}
      None selected.
    {{/if}}
  </p>

  <select onchange={{this.selectGimmickFromEvent}}>
    <option value="">-- Pick a Gimmick --</option>
    {{#each this.chargenData.gimmicks as |gimmick|}}
      <option value={{gimmick.name}} selected={{eq gimmick.name this.chargenData.char_gimmick}}>
        {{gimmick.name}} - {{gimmick.desc}}
      </option>
    {{/each}}
  </select>
{{/if}}
