<li>
  <a href="#" {{action (mut this.selectPbtaRoll) true}} class="dropdown-item">PbtA Roll</a>
</li>

<PbtaRoll
  @stats={{this.custom.pbta.stats}}
  @moves={{this.custom.pbta.all_moves}}
  @scene={{this.scene}}
  @selectPbtaRoll={{this.selectPbtaRoll}}
  @onClose={{action (mut this.selectPbtaRoll) false}}
  @onRollStat={{action "pbtaRollStat"}}
  @onRollMove={{action "pbtaRollMove"}} />
